@import '~bpk-mixins';

.FlightsListItem {
  border-radius: 5px;
  margin: 0 0 20px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  @include bpk-box-shadow-sm;

  &__legs {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;

    &__leg {
      display: grid;
      grid-template-columns: repeat(4, auto) 1fr;
      gap: 20px;
      align-items: center;

      &__airline-image {
        height: $bpk-spacing-base;
        vertical-align: top;
      }

      &__arrow {
        fill: rgb(178, 178, 191);
      }

      &__departure,
      &__arrival {
        &__airport {
          color: rgb(143, 144, 160);
        }
      }

      &__duration-stops {
        justify-self: end;

        &__duration {
          @include bpk-text--sm;
        }

        &__duration {
          color: rgb(143, 144, 160);
        }

        &__stops {
          &__primary,
          &__red {
            @include bpk-text--sm;
          }

          &__primary {
            color: rgb(000, 166, 152);
          }

          &__red {
            color: red;
          }
        }
      }
    }
  }

  &__select {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    place-items: center;

    &__agent-price {
      grid-template-rows: repeat(2, auto);
      justify-self: start;

      &__price {
        @include bpk-text--xxl;
      }

      &__agent {
        color: rgb(178, 178, 191);
      }
    }

    &__button {
      background-color: rgb(000, 166, 152);
      height: 40px;
      width: 110px;
      border: none;
      border-radius: 5px;
      color: rgb(255, 255, 255);
      font-size: 20px;
      font-weight: 700;
    }
  }
}
